/**
    Written by Kyra Oberholtzer
    Lab 9
    External stylesheet
 */
body{
    background-color: lightsteelblue;
}
table{
    background-color: lightgray;
}
#buttons{
    padding: 20px;
    text-align: center;
}
#start, #stop{
    width: 100px;
    text-align: center;
}
.container{
    width: 90%;
}
#map {
    width: 100%;
    height: 600px;
}